* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, black, pink);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 5px);
    height: calc(100vh - 100px);
}

.container button {
    padding: 15px 30px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    transition: background 0.3s, color 0.3s;
    animation: BounceX 1s infinite;
}

@keyframes  BounceX {
    0%, 100% {
        transform: translateX(3px);
    }
    50% {
        transform: translateX(-10px);
    }
}

.container button:hover {
    background: linear-gradient(to left, black, pink);
    color: #fff;
    cursor: pointer;
    border: none;
}

.message-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: calc(100% - 100px);
}

.message-container span {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

.message-container h3 {
    text-transform: uppercase;
    color: #fff;
}

.message-container p {
    color: #fff;
    line-height: 1.5;
}

.message-container img {
    width: 300px;
    height: auto;
    margin-top: 20px;
    border: 5px solid #fff;
}